{% extends "base.html" %}
{% load static crispy_forms_tags i18n %}
{% block content %}
  <style>
    textarea {
      resize:  none;
      overflow: hidden;
    }
  </style>
  <div class="card mb-0 dz-scroll"
       style="overflow-x: auto"
       id="participant-form">
    <div class="card-header">
      <h1>{% trans "Online preliminary stage appellation" %}</h1>
    </div>
    <div class="card-body" id="body-div-wrapper">
      {% if object and object.paper_original %}
        <div class="row">
          <object data="{{ object.paper_original.url }}"
                  type="application/pdf"
                  width="600px"
                  class="col-12 col-md-6">
            <embed src="{{ object.paper_original.url }}" type="application/pdf">
            <p>
              {% trans "This browser does not support PDFs. Please download the PDF to view it" %}: <a href="{{ object.paper_original.url }}">{% trans "Download PDF" %}</a>.
            </p>
          </embed>
        </object>
        <div class="col-12 col-md-6">
          <div>
            <h2>{% trans "Problem statements and solutions" %}</h2>
            <a class="d-block" href="{{ object.problem.file.url }}" target="_blank">{% trans "Problem statements for" %} {{ user.participation_form }} {% trans "form" %}</a>
            <a class="d-block"
               href="{{ object.problem.solution.url }}"
               target="_blank">{% trans "Solutions for" %} {{ user.participation_form }} {% trans "form" %}</a>
          </div>
          <h2 class="mt-3">{% trans "Current scores:" %}</h2>
          <p>
            {% trans "Total score" %}: <b>{{ object.total_score }}</b>
          </p>
          {% crispy form %}
          <h2 class="mt-3">{% trans "Submit a claim" %}</h2>
          <form method="post">
            {% crispy messages helper %}
            {% if is_open %}
              <div class="form-group">
                <div class="text-center">
                  <button role="submit" class="btn btn-primary submit_btn mt-4 f_20">{% trans "Submit" %}</button>
                </div>
              </div>
            {% else %}
              <p>{% trans "Submission closed." %}</p>
            {% endif %}
          </form>
        </div>
      </div>
    {% else %}
      <p class="text-center f_20">
        {% trans "Your work was not found. If you have participated, please contact us" %} <a href="mailto:support@chemolymp.ru">{% trans "by email" %}</a>.
      </p>
    {% endif %}
  </div>
</div>
{% endblock content %}
{% block extrascripts_after %}
  <script>
function autosize($sel){
  const resize = $text => {
    $text
      .css('height', 'auto')
      .css('height', $text[0].scrollHeight + 'px');
  };

  $sel.each(function(){
    resize($(this).attr('rows', 1));
  }).on('input', function(){
    resize($(this));
  });
}
$(function(){
  autosize($('.autosize'));
  $('[data-display=none]').closest('.form-group').addClass('d-none');
  $('.input-group:has(small)').removeClass('input-group');
});
  </script>
{% endblock extrascripts_after %}
