{% extends "modal.html" %}
{% load crispy_forms_tags i18n %}
{% block title %}
  {% trans "Reset Your Password" %}
{% endblock title %}
{% block body %}
  {% if validlink %}
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
  {% else %}
    <p>
      {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
    </p>
  {% endif %}
  {% if validlink %}
    {% crispy form %}
  {% endif %}
{% endblock body %}
