{% extends "base.html" %}
{% load crispy_forms_tags i18n %}
{% block content %}
  <div class="card mb-0 dz-scroll"
       style="overflow-x: auto"
       id="participant-form">
    <div class="card-header text-center">
      <h1>{% trans "Participant profile" %}</h1>
    </div>
    <div class="card-body">
      <div class="alert alert-dismissible alert-warning fade show" role="alert">
        {% blocktrans %}
          The in-person tour begins at 10 pm <b>(local time)</b> in all venues.
        {% endblocktrans %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% crispy form %}
    </div>
  </div>
{% endblock content %}
