{% extends "base.html" %}
{% load crispy_forms_tags i18n %}
{% block content %}
  <div class="card mb-0 dz-scroll"
       style="overflow-x: auto"
       id="participant-form">
    <div class="card-header text-center">
      <h1>{% trans "Registration" %}</h1>
    </div>
    <div class="card-body">
      {% if registration_not_started %}
        <h2>{% trans "Registration not open yet." %}</h2>
      {% elif registration_closed %}
        <h2>{% trans "Registration closed." %}</h2>
      {% else %}
        {% crispy form %}
      {% endif %}
    </div>
    <div class="card-footer d-flex justify-content-center">
      {# djlint:off T002 #}
      <span class="text-muted">{% trans 'By clicking "save", you agree with' %} <a href="https://drive.google.com/file/d/1T98WTOjMOckfohX7o4PKw1Vn_u8Zt5m6/view">{% trans "Privacy Policy" %}</a></span>
      {# djlint:on #}
    </div>
  </div>
{% endblock content %}
