{% extends "base.html" %}
{% load crispy_forms_tags i18n humanize %}
{% block content %}
  <div class="card mb-0 dz-scroll"
       style="overflow-x: auto"
       id="participant-form">
    <div class="card-header d-flex justify-content-between">
      <h1>{% trans "Available certificates" %}</h1>
    </div>
    <div class="card-body">
      {% if certificates %}
        <p class="mb-3 h4">{% trans "You can download all certificated available to you below." %}</p>
        <ul class="list-group" style="max-width: 500px">
          {% for cert in certificates %}
            <li class="list-group-item d-flex align-items-center justify-content-between">
              <div>
                <i class="bi bi-award text-success"></i>
                <span class="pl-3">{{ cert.first_name_gen }} {{ cert.last_name_gen }}</span>
              </div>
              <a class="btn btn-primary"
                 href="{% url 'venue_certificate_download' cert.pk %}"
                 target="_download">{% trans "Download" %}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <div class="d-flex flex-column align-items-center">
          <h3>{% trans "Unfortunately, no certificates have been issued for this venue." %}</h3>
          <h4 class="mb-1">{% trans "If you believe it was a mistake, do not hesitate to contact us." %}</h4>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
