[tool.coverage.report]
exclude_lines = [
    'pragma: no cover',
    'def __repr__',
    'def __str__',
    'if settings.DEBUG:',
    'raise AssertionError',
    'raise NotImplementedError',
    'if __name__ == .__main__.:',
    '@(abc\.)?abstractmethod',
    'if TYPE_CHECKING:',
    'import',
]
show_missing = true
skip_covered = true
skip_empty = true

[tool.coverage.run]
omit = [
    '*/migrations/*.py',
    'manage.py',
    'rechol_user_section/settings.py',
    '*/tests.py',
    '*/tests/*.py',
]

[tool.django-stubs]
django_settings_module = "rechol_user_section.settings"

[tool.djlint]
exclude = "bower_components"
# H006: img must have width and height attrs
# H017: self-closing <input>
# H019: javascript:void(0) is OK
# H020: Empty pair tag
# H021: inline styles
# H023: entity references (&times;)
# H026: Empty id and class tags can be removed (what does it mean?)
ignore = "H006,H017,H019,H020,H021,H023,H026"
indent = 2
profile = "django"

[tool.isort]
known_first_party = [
    "app",
    "appointments",
    "chat",
    "dental_chart",
    "integration",
    "lib",
    "smartcard",
    "users",
]
profile = "black"

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
exclude = [
    'test.*\.py$',
    'migrations/*',
]
ignore_missing_imports = true
no_implicit_optional = true
plugins = ["mypy_django_plugin.main"]
warn_redundant_casts = true
warn_unreachable = true
warn_unused_ignores = true

[tool.ruff]
target-version = 'py311'

[tool.ruff.lint]
exclude = [
    ".svn",
    "CVS",
    ".bzr",
    ".hg",
    ".git",
    "__pycache__",
    ".tox",
    ".nox",
    ".eggs",
    "*.egg",
    "migrations",
    "manage.py",
]
extend-ignore = [
    "A003",  # Serializer's .list method is used a lot
    "S101",
    "TRY003",  # Avoid specifying long messages outside the exception class
    "RUF012",  # Mutable class attributes should be annotated with `typing.ClassVar`
    "DJ006",  # Do not use `exclude` with `ModelForm`, use `fields` instead
    "DJ007",  # Do not use `__all__` with `ModelForm`, use `fields` instead
    "RUF001",  # Russian letters in strings
    "ANN",  # Type hints
    "D",  # Docstrings
    "EM101",  # Exception must not use a string literal, assign to variable first
    "E501",  # Let black care about line width, if not splitable - go on
    # Conflicts with save(self, commit=True) overrides
    "FBT002",  # Boolean default positional argument in function definition
    "PLC0415",  # `import` should be at the top-level of a file
    # conflicts with ruff-fmt
    "COM812",
    "ISC001",
]
select = ['ALL']

[tool.ruff.lint.isort]
combine-as-imports = true
force-wrap-aliases = true
required-imports = ["from __future__ import annotations"]
section-order = ["future", "standard-library", "django", "third-party", "first-party", "local-folder"]

[tool.ruff.lint.isort.sections]
django = ['django', 'rest_framework']

[tool.ruff.lint.per-file-ignores]
"**/migrations/*" = ["DTZ"]
