babel
Django==4.0.10
djangorestframework==3.14.0
django-addanother==2.2.2
django-ajax-selects==2.2.0
django-bootstrap-datepicker-plus==4.0.0
django-bower==5.2.0
django-compressor==4.4
django-countries==7.5.1
django-crispy-forms==1.14.0
django-debug-toolbar==3.4.0
django-libsass==0.9
django-object-actions == 4.2.0
django-phonenumber-field==7.2.0
django-postgres-extra==2.0.8
django-redis
django-select2==7.11.1
django-widget-tweaks==1.4.12
libsass==0.21.0
lxml==4.9.3
phonenumbers==8.13.23
psycopg2-binary==2.9.3
pycountry==22.3.5
python-dateutil>=2.8.2,<3.0.0
pytz>=2022.1
PyYAML>=6.0,<7.0
regex>=2022.6.2
requests>=2.31.0,<3
tomli==2.0.1
typing_extensions>=4.8.0
django-ses
django-import-export
tablib[cli,xlsx]
django-concurrency
pypdf ~= 3.17.2
reportlab ~= 4.0.8
