{# djlint:off #}
{% load i18n static admin_urls static admin_modify %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
{% if not is_popup and is_nav_sidebar_enabled %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
<script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
{% endif %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">
{% endif %}
{% block extrahead %}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}
{% block responsive %}
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">
{% endif %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
<body class="{% if is_popup %}popup{% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
<!-- Container -->
<div id="container">
<link rel="stylesheet" type="text/css" href="{% static 'pdf_js/toolbar.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'pdf_js/pdf_viewer.css' %}"/>
<style type="text/css">
    body {
        max-height: calc(100vh - 35px - 5px);
        overflow: hidden;
    }
    input[type=submit].default, .submit-row input.default {
      order: 1;
      float: unset;
    }
    .submit-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .submit-row p.deletelink-box {
      float: unset;
      order: -1;
      display: flex;
    }
    .submit-row a.deletelink {
      height: 35px;
      line-height: 15px;
    }
    #offlineresult_form,
    #offlineresult_form .field-scores,
    #offlineresult_form .field-final_scores {
        width: min-content;
    }
    .pdfViewer .canvasWrapper {
      box-shadow: 0 0 3px #bbb;
    }
    .pdfViewer .page {
      margin-bottom: 10px;
    }

    .annotationLayer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    #content-wrapper {
      /*position: absolute;*/
      top: 35px;
      left: 0;
      right: 250px;
      bottom: 0;
      overflow: auto;
    }
</style>
<div class="toolbar">
<button class="cursor" type="button" title="Cursor" data-tooltype="cursor">➚</button>
<button class="eraser" type="button" title="Eraser" data-tooltype="eraser">⌫</button>
<div class="spacer"></div>
<button class="rectangle" type="button" title="Rectangle" data-tooltype="area">&nbsp;</button>
<button class="circle" type="button" title="Circle" data-tooltype="circle">○</button>
<button class="circle" type="button" title="fillCircle" data-tooltype="fillcircle">◉</button>
<button class="circle" type="button" title="emptyCircle" data-tooltype="emptycircle">⦿</button>
<button class="arrow" type="arrow" title="Arrow" data-tooltype="arrow">➤</button>
<div class="hotspot-color"></div>
<button class="highlight" type="button" title="Highlight" data-tooltype="highlight">&nbsp;</button>
<button class="strikeout" type="button" title="Strikeout" data-tooltype="strikeout">&nbsp;</button>
<div class="spacer"></div>
<button class="text" type="button" title="Text Tool" data-tooltype="text"></button>
<select class="text-size">
</select>
<div class="text-color"></div>
<div class="spacer"></div>
<button class="pen" type="button" title="Pen Tool" data-tooltype="draw">✎</button>
<select class="pen-size">
</select>
<div class="pen-color"></div>
<div class="spacer"></div>
<select class="scale">
<option value=".5">
50%
</option>
<option value="1">
100%
</option>
<option value="1.33">
133%
</option>
<option value="1.5">
150%
</option>
<option value="2">
200%
</option>
</select>
<a href="javascript://" class="rotate-ccw" title="Rotate Counter Clockwise">⟲</a>
<a href="javascript://" class="rotate-cw" title="Rotate Clockwise">⟳</a>
<div class="spacer"></div>
<a href="javascript://" class="clear" title="Clear Annotations">×</a>
</div>
<div style="display: flex; overflow: hidden; max-height: 100%;">
<div id="content-wrapper" style="padding: 1em;">
<div id="viewer" class="pdfViewer"></div>
</div>
<div style="padding: 1em;">
<form {% if has_file_field %}enctype="multipart/form-data"{% endif %} {% if form_url %}action="{{ form_url }}"{% endif %} method="post" id="{{ opts.model_name }}_form" novalidate>
{% csrf_token %}
{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
<div class="submit-row">
{% block submit-row %}
<input type="submit" value="{% translate 'Save and quit' %}" name="_save">
{% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
<p class="deletelink-box">
<a href="{% add_preserved_filters delete_url %}" class="deletelink">{% translate "Delete" %}</a>
</p>
<input type="submit" value="{% translate 'Save and add next' %}" class="default" name="_addanother">
<input type="submit" value="{% translate 'Save' %}" name="_continue">
{% endblock %}
</div>
{% if errors %}
<p class="errornote">
{% if errors|length == 1 %}
{% translate "Please correct the error below." %}
{% else %}
{% translate "Please correct the errors below." %}
{% endif %}
</p>
{{ adminform.form.non_field_errors }}
{% endif %}
{% block field_sets %}
{% for fieldset in adminform %}
{% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}
{% block after_field_sets %}{% endblock %}
{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
{% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}
{% block after_related_objects %}{% endblock %}
{% block admin_change_form_document_ready %}
<script id="django-admin-form-add-constants" src="{% static 'admin/js/change_form.js' %}" {% if adminform and add %} data-model-name="{{ opts.model_name }}"{% endif %} async>
</script>
{% endblock %}
{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}
</div>
</form>
</div>
</div>
{% if adminform.form.instance.paper_original %}
<script src="{% static 'pdf_js/pdf-annotate.min.js' %}"></script>
<script src="{% static 'pdf_js/pdf.js' %}"></script>
<script src="{% static 'pdf_js/pdf_viewer.js' %}"></script>
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script type="module">
import initColorPicker from '{% static "pdf_js/initColorPicker.js" %}';
const PDFJSAnnotate = PDFAnnotate.default;
const csrfmiddlewaretoken = '{{ csrf_token }}';

const REGEXP = /[xy]/g;
const PATTERN = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx';

const replacement = (c) => {
  let r = Math.random() * 16 | 0;
  let v = c === 'x' ? r : (r & 0x3 | 0x8);
  return v.toString(16);
}
const uuid = () => PATTERN.replace(REGEXP, replacement);

class MyStoreAdapter extends PDFJSAnnotate.StoreAdapter {
  async __getAnnotations(documentId, pageNumber) {
    console.log('__getAnnotations', documentId, pageNumber);
    const uri = new URL('{% url "annotation_list" %}', window.location.origin)
    uri.searchParams.set('filename', documentId);
    if (pageNumber != null)
      uri.searchParams.set('page', pageNumber);
    const ann = await $.get(uri);
    const annotations = ann
      .map(a => {a.annotation = JSON.parse(a.annotation); return a})
      .filter(a => pageNumber == null || a.page === pageNumber)
      .map(a => {
        const t = a.annotation;
        t.page = a.page;
        t.uuid = a.annotation_id;
        return t;
      });

    return {
      documentId,
      pageNumber,
      annotations,
    };
  }
  async getAnnotation(documentId, annotationId) {
    console.log('getAnnotation', documentId, annotationId);
    const rsp = await this.getAnnotations(documentId, null);
    return rsp.annotations.filter(a => a.uuid === annotationId)[0];
  }
  async __addAnnotation(documentId, pageNumber, annotation) {
    console.log('__addAnnotation', pageNumber, annotation);

    const uuid_ = uuid();
    await $.post('{% url "annotation_list" %}', {
      filename: documentId,
      annotation_id: uuid_,
      page: pageNumber,
      annotation: JSON.stringify(annotation),
      csrfmiddlewaretoken,
    });

    annotation.uuid = uuid_;
    annotation.page = pageNumber;
    return annotation;
  }
  async __editAnnotation(documentId, annotationId, annotation) {
    console.log('__editAnnotation', annotationId, annotation);
    await $.post(
      {
        url: '{% url "annotation_detail" "__unknown__" %}'.replace('__unknown__', annotationId),
        method: 'PUT',
        data: JSON.stringify({
          filename: documentId,
          annotation_id: annotationId,
          page: annotation.page,
          annotation: JSON.stringify(annotation),
          csrfmiddlewaretoken,
        }),
        contentType: 'application/json; utf8',
        headers: {'X-CSRFToken': csrfmiddlewaretoken},
        dataType: 'json',
        processData: false,
      }
    );
    return annotation;
  }
  async __deleteAnnotation(documentId, annotationId) {
    console.log('__deleteAnnotation', documentId, annotationId);
    await $.post(
      {
        url: '{% url "annotation_detail" "__unknown__" %}'.replace('__unknown__', annotationId),
        method: 'DELETE',
        headers: {'X-CSRFToken': csrfmiddlewaretoken},
      }
    );
    return true;
  }
  async getComments(documentId, annotationId) {
    return [];
  }
  async __addComment(documentId, annotationId, content) {
    throw new Error('Not implemented!');
  }
  async __deleteComment(documentId, commentId) {
    throw new Error('Not implemented!');
  }
}

window.ad = new MyStoreAdapter();
function htmlEscape(text) {
  return text
    .replace('&', '&amp;')
    .replace('>', '&gt;')
    .replace('<', '&lt;')
    .replace('"', '&quot;')
    .replace("'", '&#39;');
}

const { UI } = PDFJSAnnotate;
const documentId = '{{ adminform.form.instance.paper_original.url }}';
let PAGE_HEIGHT;
let RENDER_OPTIONS = {
  documentId: documentId,
  pdfDocument: null,
  scale: parseFloat(localStorage.getItem(`${documentId}/scale`), 10) || 1.33,
  rotate: parseInt(localStorage.getItem(`${documentId}/rotate`), 10) || 0
};

PDFJSAnnotate.setStoreAdapter(new MyStoreAdapter());
pdfjsLib.GlobalWorkerOptions.workerSrc = '{% static "pdf_js/pdf.worker.js" %}';

// Render stuff
let NUM_PAGES = 0;
let renderedPages = [];
let okToRender = false;
document.getElementById('content-wrapper').addEventListener('scroll', (e) => {
  let visiblePageNum = Math.round(e.target.scrollTop / PAGE_HEIGHT) + 1;
  let visiblePage = document.querySelector(`.page[data-page-number="${visiblePageNum}"][data-loaded="false"]`);

  if (renderedPages.indexOf(visiblePageNum) === -1) {
    okToRender = true;
    renderedPages.push(visiblePageNum);
  }
  else {
    okToRender = false;
  }

  if (visiblePage && okToRender) {
    setTimeout(() => {
      UI.renderPage(visiblePageNum, RENDER_OPTIONS);
    });
  }
});

function render() {
  const loadingTask = pdfjsLib.getDocument({
    url: RENDER_OPTIONS.documentId,
    cMapUrl: '{% static "pdf_js/cmaps/" %}',
    cMapPacked: true
  });

  loadingTask.promise.then((pdf) => {
    RENDER_OPTIONS.pdfDocument = pdf;

    let viewer = document.getElementById('viewer');
    viewer.innerHTML = '';
    NUM_PAGES = pdf.numPages;
    for (let i = 0; i < NUM_PAGES; i++) {
      let page = UI.createPage(i + 1);
      viewer.appendChild(page);
    }

    UI.renderPage(1, RENDER_OPTIONS).then(([pdfPage, annotations]) => {
      let viewport = pdfPage.getViewport({scale: RENDER_OPTIONS.scale, rotation: RENDER_OPTIONS.rotate});
      PAGE_HEIGHT = viewport.height;
    });
  });
}
render();

// Hotspot color stuff
(function() {
  let hotspotColor = localStorage.getItem(`${RENDER_OPTIONS.documentId}/hotspot/color`) || 'darkgoldenrod';
  let currentTarget;

  function handleAnnotationClick(target) {
    let type = target.getAttribute('data-pdf-annotate-type');
    if (['fillcircle', 'arrow'].indexOf(type) === -1) {
      return; // nothing to do
    }
    currentTarget = target;
    hotspotColor = currentTarget.getAttribute('stroke');

    UI.setArrow(10, hotspotColor);
    UI.setCircle(10, hotspotColor);

    let a = document.querySelector('.hotspot-color .color');
    if (a) {
      a.setAttribute('data-color', hotspotColor);
      a.style.background = hotspotColor;
    }
  }

  function handleAnnotationBlur(target) {
    if (currentTarget === target) {
      currentTarget = undefined;
    }
  }

  initColorPicker(document.querySelector('.hotspot-color'), hotspotColor, function(value) {
    if (value === hotspotColor) {
      return; // nothing to do
    }
    localStorage.setItem(`${RENDER_OPTIONS.documentId}/hotspot/color`, value);
    hotspotColor = value;

    UI.setArrow(10, hotspotColor);
    UI.setCircle(10, hotspotColor);

    if (!currentTarget) {
      return; // nothing to do
    }

    let type = currentTarget.getAttribute('data-pdf-annotate-type');
    let annotationId = currentTarget.getAttribute('data-pdf-annotate-id');
    if (['fillcircle', 'arrow'].indexOf(type) === -1) {
      return; // nothing to do
    }

    // update target
    currentTarget.setAttribute('stroke', hotspotColor);
    currentTarget.setAttribute('fill', hotspotColor);

    // update annotation
    PDFJSAnnotate.getStoreAdapter().getAnnotation(documentId, annotationId).then((annotation) => {
      annotation.color = hotspotColor;
      PDFJSAnnotate.getStoreAdapter().editAnnotation(documentId, annotationId, annotation);
    });
  });

  UI.addEventListener('annotation:click', handleAnnotationClick);
  UI.addEventListener('annotation:blur', handleAnnotationBlur);
})();

// Text stuff
(function() {
  let textSize;
  let textColor;

  function initText() {
    let size = document.querySelector('.toolbar .text-size');
    [8, 9, 10, 11, 12, 14, 18, 24, 30, 36, 48, 60, 72, 96].forEach((s) => {
      size.appendChild(new Option(s, s));
    });

    setText(
      localStorage.getItem(`${RENDER_OPTIONS.documentId}/text/size`) || 12,
      localStorage.getItem(`${RENDER_OPTIONS.documentId}/text/color`) || '#000000'
    );

    initColorPicker(document.querySelector('.text-color'), textColor, function(value) {
      setText(textSize, value);
    });
  }

  function setText(size, color) {
    let modified = false;

    if (textSize !== size) {
      modified = true;
      textSize = size;
      localStorage.setItem(`${RENDER_OPTIONS.documentId}/text/size`, textSize);
      document.querySelector('.toolbar .text-size').value = textSize;
    }

    if (textColor !== color) {
      modified = true;
      textColor = color;
      localStorage.setItem(`${RENDER_OPTIONS.documentId}/text/color`, textColor);

      let selected = document.querySelector('.toolbar .text-color.color-selected');
      if (selected) {
        selected.classList.remove('color-selected');
        selected.removeAttribute('aria-selected');
      }

      selected = document.querySelector(`.toolbar .text-color[data-color="${color}"]`);
      if (selected) {
        selected.classList.add('color-selected');
        selected.setAttribute('aria-selected', true);
      }
    }

    if (modified) {
      UI.setText(textSize, textColor);
    }
  }

  function handleTextSizeChange(e) {
    setText(e.target.value, textColor);
  }

  document.querySelector('.toolbar .text-size').addEventListener('change', handleTextSizeChange);

  initText();
})();

// Pen stuff
(function() {
  let penSize;
  let penColor;

  function initPen() {
    let size = document.querySelector('.toolbar .pen-size');
    for (let i = 0; i < 20; i++) {
      size.appendChild(new Option(i + 1, i + 1));
    }

    setPen(
      localStorage.getItem(`${RENDER_OPTIONS.documentId}/pen/size`) || 1,
      localStorage.getItem(`${RENDER_OPTIONS.documentId}/pen/color`) || '#000000'
    );

    initColorPicker(document.querySelector('.pen-color'), penColor, function(value) {
      setPen(penSize, value);
    });
  }

  function setPen(size, color) {
    let modified = false;

    if (penSize !== size) {
      modified = true;
      penSize = size;
      localStorage.setItem(`${RENDER_OPTIONS.documentId}/pen/size`, penSize);
      document.querySelector('.toolbar .pen-size').value = penSize;
    }

    if (penColor !== color) {
      modified = true;
      penColor = color;
      localStorage.setItem(`${RENDER_OPTIONS.documentId}/pen/color`, penColor);

      let selected = document.querySelector('.toolbar .pen-color.color-selected');
      if (selected) {
        selected.classList.remove('color-selected');
        selected.removeAttribute('aria-selected');
      }

      selected = document.querySelector(`.toolbar .pen-color[data-color="${color}"]`);
      if (selected) {
        selected.classList.add('color-selected');
        selected.setAttribute('aria-selected', true);
      }
    }

    if (modified) {
      UI.setPen(penSize, penColor);
    }
  }

  function handlePenSizeChange(e) {
    setPen(e.target.value, penColor);
  }

  document.querySelector('.toolbar .pen-size').addEventListener('change', handlePenSizeChange);

  initPen();
})();

// Toolbar buttons
(function() {
  let tooltype = localStorage.getItem(`${RENDER_OPTIONS.documentId}/tooltype`) || 'cursor';
  if (tooltype) {
    setActiveToolbarItem(tooltype, document.querySelector(`.toolbar button[data-tooltype=${tooltype}]`));
  }

  function setActiveToolbarItem(type, button) {
    let active = document.querySelector('.toolbar button.active');
    if (active) {
      active.classList.remove('active');

      switch (tooltype) {
        case 'cursor':
          UI.disableEdit();
          break;
        case 'eraser':
          UI.disableEraser();
          break;
        case 'draw':
          UI.disablePen();
          break;
        case 'arrow':
          UI.disableArrow();
          break;
        case 'text':
          UI.disableText();
          break;
        case 'point':
          UI.disablePoint();
          break;
        case 'area':
        case 'highlight':
        case 'strikeout':
          UI.disableRect();
          break;
        case 'circle':
        case 'emptycircle':
        case 'fillcircle':
          UI.disableCircle();
          break;
      }
    }

    if (button) {
      button.classList.add('active');
    }
    if (tooltype !== type) {
      localStorage.setItem(`${RENDER_OPTIONS.documentId}/tooltype`, type);
    }
    tooltype = type;

    switch (type) {
      case 'cursor':
        UI.enableEdit();
        break;
      case 'eraser':
        UI.enableEraser();
        break;
      case 'draw':
        UI.enablePen();
        break;
      case 'arrow':
        UI.enableArrow();
        break;
      case 'text':
        UI.enableText();
        break;
      case 'point':
        UI.enablePoint();
        break;
      case 'area':
      case 'highlight':
      case 'strikeout':
        UI.enableRect(type);
        break;
      case 'circle':
      case 'emptycircle':
      case 'fillcircle':
        UI.enableCircle(type);
        break;
    }
  }

  function handleToolbarClick(e) {
    if (e.target.nodeName === 'BUTTON') {
      setActiveToolbarItem(e.target.getAttribute('data-tooltype'), e.target);
    }
  }

  document.querySelector('.toolbar').addEventListener('click', handleToolbarClick);
})();

// Scale/rotate
(function() {
  function setScaleRotate(scale, rotate) {
    scale = parseFloat(scale, 10);
    rotate = parseInt(rotate, 10);

    if (RENDER_OPTIONS.scale !== scale || RENDER_OPTIONS.rotate !== rotate) {
      RENDER_OPTIONS.scale = scale;
      RENDER_OPTIONS.rotate = rotate;

      localStorage.setItem(`${RENDER_OPTIONS.documentId}/scale`, RENDER_OPTIONS.scale);
      localStorage.setItem(`${RENDER_OPTIONS.documentId}/rotate`, RENDER_OPTIONS.rotate % 360);

      render();
    }
  }

  function handleScaleChange(e) {
    setScaleRotate(e.target.value, RENDER_OPTIONS.rotate);
  }

  function handleRotateCWClick() {
    setScaleRotate(RENDER_OPTIONS.scale, RENDER_OPTIONS.rotate + 90);
  }

  function handleRotateCCWClick() {
    setScaleRotate(RENDER_OPTIONS.scale, RENDER_OPTIONS.rotate - 90);
  }

  document.querySelector('.toolbar select.scale').value = RENDER_OPTIONS.scale;
  document.querySelector('.toolbar select.scale').addEventListener('change', handleScaleChange);
  document.querySelector('.toolbar .rotate-ccw').addEventListener('click', handleRotateCCWClick);
  document.querySelector('.toolbar .rotate-cw').addEventListener('click', handleRotateCWClick);
})();

// Clear toolbar button
(function() {
  function handleClearClick(e) {
    if (confirm('Are you sure you want to clear annotations?')) {
      for (let i = 0; i < NUM_PAGES; i++) {
        document.querySelector(`div#pageContainer${i + 1} svg.annotationLayer`).innerHTML = '';
      }

      localStorage.removeItem(`${RENDER_OPTIONS.documentId}/annotations`);
    }
  }
  document.querySelector('a.clear').addEventListener('click', handleClearClick);
})();
</script>
{% endif %}
</div>
</body>
</html>
{# djlint:on #}
