@import "../../bower_components/bootstrap/scss/functions";

// Custom variables
$white: #fff;
$black: #000;

$blue0: #ceefff;
$blue3: #5897fb;
$blue6: #0550ae;
$blue7: #2A2A7D;

$green0: #c8f3d1;
$green4: #2da44e;
$green5: #1a7f37;
$green8: #003d16;

$orange4: #e16f24;
$orange6: #953800;

$purple5: #8250df;
$purple6: #6639ba;
$purple8: #451c73;

$pink5: #bf3989;
$red5: #c6202c;
$yellow2: #eac54f;
$coral6: #9e2f1c;

$bs-input-h: calc(1.5em + 0.75rem + 2px);

// BS variables
$body-bg: $white;

$blue: $blue7;
$indigo: $purple8;
$purple: $purple5;
$pink: $pink5;
$red: $red5;
$orange: $orange4;
$yellow: $yellow2;
$green: $green5;
$teal: #20c997;
$cyan: #17a2b8;

// gray0 - gray9 from pallette
$gray-000: #f6f8fa;
$gray-100: #dfe3e7;
$gray-200: #c2cad0;
$gray-300: #afb8c1;
$gray-400: #8c959f;
$gray-500: #6e7781;
$gray-600: #57606a;
$gray-700: #424a53;
$gray-800: #32383f;
$gray-900: #24292f;

$primary: $blue;
$secondary: $purple6;
$link-color: $primary;

$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 2.25;
$h2-font-size: $font-size-base * 1.875;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.938;

$input-btn-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-focus-border-color: $secondary;
$input-border-radius: 0.5rem;
$input-border-color: $gray-200;
$input-disabled-bg: $gray-100;
$btn-border-radius: 0.75rem;

$modal-inner-padding: 1.5rem;
$modal-header-padding-x: 1.5rem;

// Required
@import "../../bower_components/bootstrap/scss/variables";
@import "../../bower_components/bootstrap/scss/mixins";

// Optional
@import "../../bower_components/bootstrap/scss/alert";
@import "../../bower_components/bootstrap/scss/button-group";
@import "../../bower_components/bootstrap/scss/buttons";
@import "../../bower_components/bootstrap/scss/card";
@import "../../bower_components/bootstrap/scss/close";
// @import "../../bower_components/bootstrap/scss/custom-forms";
@import "../../bower_components/bootstrap/scss/dropdown";
@import "../../bower_components/bootstrap/scss/forms";
@import "../../bower_components/bootstrap/scss/grid";
@import "../../bower_components/bootstrap/scss/input-group";
@import "../../bower_components/bootstrap/scss/modal";
@import "../../bower_components/bootstrap/scss/nav";
@import "../../bower_components/bootstrap/scss/navbar";
@import "../../bower_components/bootstrap/scss/popover";
@import "../../bower_components/bootstrap/scss/reboot";
@import "../../bower_components/bootstrap/scss/root";
@import "../../bower_components/bootstrap/scss/tables";
@import "../../bower_components/bootstrap/scss/transitions";
@import "../../bower_components/bootstrap/scss/type";
@import "../../bower_components/bootstrap/scss/utilities";

// generic presets
// body {
//     font-family: poppins, sans-serif;
//     height: 100vh;
//     max-height: 100vh;
//     overflow: clip;

//     & > .container-fluid {
//         height: 100%;
//         max-height: 100%;
//         margin: 0;
//         padding: 0;
//         display: flex;
//         flex-direction: column;

//         & > .content-body {
//             max-height: 100%;
//             flex-grow: 1;
//             display: flex; // For inner growing
//         }
//     }
// }

// #main-nav-column {
//     height: 100%;
//     padding-left: 0.5rem;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     background-color: $gray-700;

//     .nav-link {
//         display: flex;
//         align-items: center;
//         color: $gray-100;

//         &:hover { background-color: $gray-800; }

//         i:not(.custom-icon) {
//             $size: 18px;

//             height: $size;
//             width: $size;
//             color: #2eaecc;
//             font-size: 18px;
//         }
//         & > span { width: max-content; }
//     }

//     .nav-link-1 {
//         margin-top: 1rem;
//         &:first-child { margin-top: 0; }
//     }

//     .nav-link-1 > span {
//         font-size: 1.15rem;
//         margin-left: 0.5rem;
//     }

//     .nav-link-2 {
//         font-size: 0.9rem;
//         margin-left: 3rem;
//         padding: 0 0.5rem 0.5rem;
//         &:last-child { padding-bottom: 0; }
//     }
// }

#main-wrapper {
    // flex-grow: 1;
    // max-height: 100%;
    padding: 130px 1rem 0.5rem;
    overflow: auto;
    background: linear-gradient(rgba(#8195E5, 0.5), rgba(#EED1AE, 0.5));
    height: 100vh;
    width: 100vw;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

// #header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0;
//     border-bottom: 1px solid $gray-600;
//     box-shadow: 0 1px 4px 0 $gray-600;
//     background-color: $gray-800;
//     color: $gray-100;

//     a {
//         color: $blue3;
//         text-transform: capitalize;
//     }

//     #main-logo-wrapper {
//         display: flex;

//         span { display: block; }

//         #main-header-user-info {
//             display: flex;
//             flex-direction: column;
//             justify-content: space-evenly;
//             margin-left: 12px;
//         }
//     }
// }

a.disabled {
    pointer-events: none;
    opacity: 0.65;
}

.btn-outline-light {
    color: $gray-700;
}

.table,
.table-sm {
    color: $gray-800;

    thead tr:first-child th {
        border-top-width: 0;
    }

    th {
        font-size: 14px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-weight: 600;
    }

    :is(td, th) {
        vertical-align: middle;
    }
}

.prefs-form-btn {
    display: flex;
    align-items: end;
    padding-bottom: calc(1rem + 2px);
}

.f_14 { font-size: 14px; }
.f_20 { font-size: 20px; }
.f_22 { font-size: 22px; }
.fs-common { font-size: 0.875rem; }
.fw_600 { font-weight: 600 !important; }
.h_fit_content { height: fit-content; }
.w-40 { width: 40% !important; }
.w-60 { width: 60% !important; }
.w-unset { width: unset !important; }
.h-unset { height: unset !important; }
.w-max-content { width: max-content !important; }

ul.timeline {
    list-style-type: none;
    position: relative;

    &:before {
        content: ' ';
        background: $blue0;
        display: inline-block;
        position: absolute;
        left: 29px;
        width: 2px;
        height: 100%;
        z-index: 400;
    }
    & > li {
        margin: 20px 0;
        padding-left: 20px;

        &:before {
            content: ' ';
            background: $white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid $blue3;
            left: 20px;
            width: 20px;
            height: 20px;
            z-index: 400;
        }
    }
}

.card {
    // margin-bottom: 1.875rem;
    background-color: $white;
    // position: relative;
    border: 0 solid transparent;
    border-radius: 1.375rem;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
    // height: calc(100% - 30px);
}

.card-body { padding: 1.875rem; }

.card-title {
    font-size: 20px;
    font-weight: 500;
    color: $black;
    text-transform: capitalize;
}

.card-header {
    border-color: $gray-100;
    position: relative;
    background: transparent;
    padding: 1.5rem 1.875rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card-title {
        margin-bottom: 0;
    }

    .subtitle {
        padding-top: 5px;
        font-size: 14px;
        line-height: 1.5;
    }
}

.card-footer {
    border-color: $gray-100;
    background: transparent;
    padding: 1.25rem 1.875rem;
}

@media only screen and (max-width: 575px) {
    // .card {
    //     margin-bottom: 0.938rem;
    //     height: calc(100% - 0.938rem);
    // }

    .card-body { padding: 1rem; }
    .card-header { padding: 1.25rem 1rem; }
}

.modal-content {
    border-radius: 1rem;
}

.bootstrap-select {
    display: block !important;
    width: unset !important;
}

.custom_modal {
    .modal-header,
    .modal-footer {
        border: none !important;
    }

    .modal-title {
        font-size: 20px;
        margin-bottom: 0;
        line-height: 1.5;
        font-weight: 600;
    }

    .modal-dialog-scrollable .modal-body {
        &::-webkit-scrollbar { width: 8px; }
        &::-webkit-scrollbar-track { background: #f1f1f1; }
        &::-webkit-scrollbar-thumb { background: #dbdbdb; }
        &::-webkit-scrollbar-thumb:hover { background: #bfbfbf; }
    }
}

.input-group-text svg path {
    fill: $white;
}

.modal-footer {
    .btn {
        min-width: 80px;
    }

    .submit_btn,
    .submit_btn:focus,
    .cancel_btn,
    .cancel_btn:focus {
        font-size: 16px;
        padding: 13px 6px;
        width: 60%;
    }

    .cancel_btn,
    .cancel_btn:focus {
        background: $primary !important;
        border-color: $primary !important;
    }
}


a > .patient-inner-border:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

label.switch {
    position: relative;
    display: inline-block;
    min-width: 56px;
    width: 56px;
    height: 26px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;

    &::before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 5px;
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
    }

    &.round {
        border-radius: 34px;
    }

    &.round::before {
        border-radius: 50%;
    }
}

input:checked + .slider,
.slider.slider-active {
    background-color: $primary;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
    transform: translateX(26px);
    transform: translateX(26px);
    transform: translateX(26px);
}

.noasterisks .asteriskField {
    display: none;
}

// For add_another widgets
select.select2widget + .select2.select2-container {
    width: calc(100% - 40px) !important;
    border-radius: 0.75rem;
}

.btn.submit_btn,
.btn.cancel_btn {
    padding: 10px 15px;
}

.submit_btn_center {
    text-align: center;
}

li.tab-nav-li .nav-link {
    border-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-top: -10px;
    margin-bottom: -10px;

    &.active {
        background-color: $primary;
        border: 1px solid $primary;
        color: white;
    }

    &:hover {
        border: 1px solid $primary;
        color: $primary;
    }

    &.active:hover {
        color: black;
    }
}

span.select2-container.select2-container--default {
    @extend .form-control;

    width: 100% !important;
    padding-top: 2px;
    padding-right: 0;

    p {
        margin-bottom: 0;
    }

    .select2-selection__rendered {
        width: max-content !important;
    }

    span.select2-selection--single {
        border-width: 0 !important;
        outline: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .select2-selection__rendered {
            width: 100%;
            line-height: $bs-input-h;
            font-size: 0.875rem;
            padding-left: 0;
        }

        .select2-selection__placeholder {
            color: inherit;
        }

        .select2-selection__arrow {
            top: unset !important;
            right: 10px !important;
            position: relative !important;
        }
    }

    .select2-selection__choice {
        display: flex;
        p { margin-bottom: 0; }
    }

    .select2-search--inline .select2-search__field {
        margin-top: 0;
    }

    .select2-search__field {
        &:focus,
        &:active,
        &:hover {
            border-width: 0;
            outline: none;
        }
    }

    &.select2-container--focus > span.selection {
        // height: $bs-input-h;
        display: inline-block;
        padding: 0;
        width: 100%;
    }

    li.select2-results__option {
        height: 2rem;
        padding-top: 0.1rem;
        & > p { margin: auto; }
    }
}

div.related-widget-wrapper {
    height: $bs-input-h;
    display: flex;
    align-items: center;

    .related-widget-wrapper-link {
        margin-left: 2px;
        margin-right: 2px;
    }
}


div.datepicker table tr td.today {
    color: #7e7e7e;
}

.invalid-feedback {
    display: block !important;
}

:is(ul, div).checkboxes_inline {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

ul.checkboxes_inline {
    li {
        margin: auto;

        label {
            min-width: 150px;
            input { display: none; }
        }
    }
}

#preloader { z-index: 100000; }

div.btn.btn-outline-info.form-group {
    label {
        margin-bottom: 0;
        color: inherit !important;
    }

    input { display: none; }

    &.checkbox_btn {
        padding: 12px;
    }
}

.checkbox_btn {
    min-width: 150px;
    label { text-align: center; }
}

h4.card-header {
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.table-irresponsive {
    overflow-x: visible !important;
}

table.table.table-fixed th > div {
    text-align: center;
}

input.repeat,
input.hidden-default {
    opacity: 0 !important;
}

.nav-link-custom {
    padding: 0.25rem 1rem !important;
    border-radius: 0.5rem !important;
}

tr.hidden { display: none; }
tr.row-required { background-color: rgba(255, 00, 00, 0.2); }
tr.current-row { background-color: lightgreen; }
tr.error { background-color: tomato; }

tr.selected-row,
p.selected {
    background-color: lightgrey;
}

table span.select2.select2-container {
    height: unset !important;
    width: 100% !important;
}

table span.select2-selection {
    position: unset !important;
    background-color: inherit !important;
    border-width: 0 !important;
}

table :is(input, select, .form-control, .dropdown-toggle):not(.flt) {
    background-color: inherit !important;
    border-width: 0 !important;

    &:active,
    &:hover,
    &:focus {
        background-color: $white !important;
    }
}

.btn.table-nav-btn {
    padding: 0.1em;
    border-radius: 0.5em;
    width: 28px;
    font-size: 16px;
}

.btn.btn-mw-80 { min-width: 80px; }
.btn.btn-mw-120 { min-width: 120px; }

.short-number-input { max-width: 40px; }

table thead th {
    text-align: center;
}

.labels-column label {
    &:first-child {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    &:not(:first-child) {
        padding-top: 0.75rem;
        padding-bottom: 0.5rem;
    }
}

/* Mimic .btn-*-secondary for unchecked labels */
input[type="radio"]:checked + label.btn.btn-check-secondary {
    @extend .btn-secondary;
}

input[type="radio"]:checked:disabled + label.btn.btn-check-secondary {
    @extend .btn-secondary, :disabled;
}

input[type="radio"]:not(:checked) + label.btn.btn-check-secondary {
    @extend .btn-outline-secondary;
}

input[type="radio"]:not(:checked):disabled + label.btn.btn-check-secondary {
    @extend .btn-outline-secondary, :disabled;
}

input[type="radio"]:checked + label.btn.btn-check-primary {
    @extend .btn-primary;
}

input[type="radio"]:checked:disabled + label.btn.btn-check-primary {
    @extend .btn-primary, :disabled;
}

input[type="radio"]:not(:checked) + label.btn.btn-check-primary {
    @extend .btn-outline-primary;
}

input[type="radio"]:not(:checked):disabled + label.btn.btn-check-primary {
    @extend .btn-outline-primary, :disabled;
}

.input-group.date .input-group-append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.filedrag {
    min-height: 100%;

    &.wide {
        border: 1px solid $gray-700;
        padding: 15px;
        border-radius: 0.75rem;
    }

    &.highlight_background {
        background-color: $gray-100;
        color: $input-border-color;
    }

    // Not a typo, class hover is added when file is dropping
    &.hover {
        background-color: lighten($green, 60%);
        border: 1px solid $red;
    }

    & > .img-rounded {
        width: 100% !important;
        height: unset !important;
        max-height: calc(100vh - 350px);
    }

    .custom-file-input-button-group {
        height: $bs-input-h;
    }

    .custom-file-input-file-name {
        border: 1px solid $input-border-color;
        border-radius: $input-border-radius;
        background-color: $input-bg;
    }

    .drag-label {
        text-align: center;
    }

    img {
        margin-bottom: 1rem;
    }
}

.btn.btn-icon {
    width: 36px;
    height: 36px;
    margin: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    & > i {
        font-size: 18px;
    }
}

.selectpicker.selectpicker-mimic + button {
    height: $bs-input-h;
    padding: 0 20px;

    div.filter-option {
        margin: auto;
        height: max-content;
    }

    div.filter-option-inner-inner {
        color: inherit;
        font-size: initial;
        text-align: center;
    }
}

/* bootstrap-datetimepicker-widget inside .table fix */
.table .bootstrap-datetimepicker-widget table {
    td,
    th {
        padding: unset;
        border-width: 0;
    }
}

.context-menu-list.context-menu-root {
    z-index: 100 !important;
}

// Widget for phone code + number in one row
.phone-widget-wrapper {
    display: flex;
    justify-content: center;

    & > div {
        min-width: 9ch;

        .filter-option { justify-content: center; }
    }
}

.phoneprefixselect {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-width: 0 !important;
    width: max-content !important;
}
