<div class="toolbar">
  <button class="cursor" type="button" title="Cursor" data-tooltype="cursor">➚</button>
  <button class="eraser" type="button" title="Eraser" data-tooltype="eraser">⌫</button>
  <div class="spacer"></div>
  <button class="rectangle"
          type="button"
          title="Rectangle"
          data-tooltype="area">&nbsp;</button>
  <button class="circle" type="button" title="Circle" data-tooltype="circle">○</button>
  <button class="circle"
          type="button"
          title="fillCircle"
          data-tooltype="fillcircle">◉</button>
  <button class="circle"
          type="button"
          title="emptyCircle"
          data-tooltype="emptycircle">⦿</button>
  <button class="arrow" type="arrow" title="Arrow" data-tooltype="arrow">➤</button>
  <div class="hotspot-color"></div>
  <button class="highlight"
          type="button"
          title="Highlight"
          data-tooltype="highlight">&nbsp;</button>
  <button class="strikeout"
          type="button"
          title="Strikeout"
          data-tooltype="strikeout">&nbsp;</button>
  <div class="spacer"></div>
  <button class="text" type="button" title="Text Tool" data-tooltype="text"></button>
  <select class="text-size"></select>
  <div class="text-color"></div>
  <div class="spacer"></div>
  <button class="pen" type="button" title="Pen Tool" data-tooltype="draw">✎</button>
  <select class="pen-size"></select>
  <div class="pen-color"></div>
  <div class="spacer"></div>
  <select class="scale">
    <option value=".5">50%</option>
    <option value="1">100%</option>
    <option value="1.33">133%</option>
    <option value="1.5">150%</option>
    <option value="2">200%</option>
  </select>
  <a href="javascript://"
     class="rotate-ccw"
     title="Rotate Counter Clockwise">⟲</a>
  <a href="javascript://" class="rotate-cw" title="Rotate Clockwise">⟳</a>
  <div class="spacer"></div>
  <a href="javascript://" class="clear" title="Clear Annotations">×</a>
</div>
